<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Previsão do Tempo</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
	</head>
	<body>
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Clima - Taboão da Serra</h1>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Dia da Semana</th>
							<th>Temperatura Mínima(°C)</th>
							<th>Temperatura Máxima(°C)</th>
							<th>Umidade Relativa do ar(m/s)</th>
							<th>Descricao</th>
							<th>Data/hora</th>
							<th>Latitude</th> 
							<th>Longitude</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="clima : ${climas}">
							<td th:text="${clima.diaSemana}"></td>
							<td th:text="${clima.tempMinima}"></td>
							<td th:text="${clima.tempMaxima}"></td>
							<td th:text="${clima.umidaRelativa}"></td>
							<td th:text="${clima.descricao}"></td>
							<td th:text="${clima.dataHora}"></td>
							<td th:text="${clima.latitude}"></td>
							<td th:text="${clima.longitude}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>